!!!
%html
  %head
    %title Fuchibole
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    #wrap
      = render 'layouts/menu'
      .container
        .row
          .col-md-9
            = yield
          .col-md-3
            .list-group
              = link_to '#ligas', class: 'list-group-item active' do
                %span.badge 14
                Ligas
              = link_to 'Equipos', '#equipos', class: 'list-group-item'
              = link_to 'Jugadores', '#jugadores', class: 'list-group-item'

    = render 'layouts/footer'
    = javascript_include_tag "application"
